<%- include('partials/head.ejs') %>
    <%- include('partials/header.ejs') %>
	
	<!-- Container -->
	<div class="container" style="margin-top: 40px;">
		<div class="row">
			<div class="col-md-3">
				<h2>Hi User <%= user.nombre %></h2>
				<img src="/images/avatars/<%= user.avatar %>">
				<br>
				<br>
				<div class="alert alert-success"><%= user.email%></div>
			</div>
		</div>
	</div>
	<!-- //Container -->
	<%- include('partials/footer.ejs') %>